<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
<meta name="renderer" content="webkit">
<meta name="keywords" content=""/>
<meta name="description" content=""/>
    <title>{$config.title|default="虚拟币交易网站"}</title>
    <meta name="keywords" content="蓝链网，数字货币,比特币交易，山寨币交易，竞争币交易，蓝币,bluecoin,比特币,竞争币,山寨币,">
    <meta name="description" content=" 蓝链网(www.bluelian.com)为日晟（十堰）网络服务有限公司旗下网站，本着公平透明的原则，为数字货币爱好者提供一个自由交易的平台。蓝链网旨力于打造区块链技术下的新兴实体嫁接，将一直探索农业、商盟，资源渠道开发等实体项目，立足本地特色资源，将炒作泡沫进行价值转化，进行实践性研究，达到真正创造价值的目的。同时蓝链网本着蓝币发展的初衷，传扬正能量，将公益进行到底。">

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/base.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/layout.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/subpage.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/user.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/coin.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zcpc.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/demo.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/jb_style.css">
    <script src="__PUBLIC__/Home/js/hm.js">
    </script><script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/downList.js"></script>


    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.2.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery-2.1.1.min.js"></script>
    <script src="__PUBLIC__/js/bootstrap.min.js?v=3.4.0"></script>
    <script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/js/messages_zh.min.js"></script>
    <script src="__PUBLIC__/js/base.js"></script>

</head>
<body>

<!--top start-->
<div style="background:#f9f9f9; height:30px;">
    <div style="width:1200px; margin:0 auto;">
        <ul class="qqkf left" style="line-height:30px; color:#000000;">
           您好，欢迎来到{$config.name}交易平台！
        </ul>
            <if  condition="!empty($_SESSION['USER_KEY_ID'])">
                <div class="person right">
                    <a class="left myhome" href="{:U('ModifyMember/modify')}" style=" height:30px; line-height:30px; margin-right:5px;">{$member.username}
                        <!--{$Think.session.USER_KEY}--> </a>
                        
                    <div style="display: none;" class="mywallet_list"><div class="clear"><ul class="balance_list"><h4>可用余额</h4><li><a href="javascript:void(0)"><em style="margin-top: 5px;" class="deal_list_pic_cny"></em><strong>人民币：</strong><span>{$member.rmb}</span></a></li></ul><ul class="freeze_list"><h4>委托冻结</h4><li><a href="javascript:void(0)"><em style="margin-top: 5px;" class="deal_list_pic_cny"></em><strong>人民币：</strong><span>{$member.forzen_rmb}</span></a></li></ul></div><div class="mywallet_btn_box"><a href="{:U('User/pay')}">充值</a><a href="{:U('User/draw')}">提现</a><a href="{:U('User/index')}">转入</a><a href="{:U('User/index')}">转出</a><a href="{:U('Entrust/manage')}">委托管理</a><a href="{:U('Trade/myDeal')}">成交查询</a></div></div>
                    <span class="left" style="height:30px; line-height:30px; color:#999; margin-right:5px;">(UID: {$Think.session.USER_KEY_ID} )</span>
                    <a class="left myhome" href="{:U('Login/loginOut')}" style="height:30px; line-height:30px; margin:0 5px;">退出</a>
                    <div id="my" class="account left" href="javascript:void(0)" style="z-index:9997; margin-right:5px;">
                        <a class="user_me" href="{:U('User/index')}">我的账户</a>
                        <ul class="accountList" style="padding: 6px 0px; background: rgb(85, 85, 85) none repeat scroll 0% 0%; border-radius: 5px 0px 5px 5px; display: none;">
                            <!--<li class="accountico no"></li>-->
                            <li><a href="{:U('User/index')}">我的资产</a></li>
                            <li><a href="{:U('Entrust/manage')}">我的交易</a></li>
                            <li><a href="{:U('User/zhongchou')}">我的项目</a></li>
                            <li style="border-top:1px solid #666;"><a href="{:U('User/pay')}">人民币充值</a></li>
                            <li><a href="{:U('User/draw')}">人民币提现</a></li>
                            <li style="border-bottom:1px solid #444;"><a href="{:U('')}">充币提币</a></li>
                            <li><a href="{:U('User/updatePassword')}">修改密码</a></li>
                            <li><a href="{:U('User/sysMassage')}">系统消息<if condition="$newMessageCount"><span class="messagenum">{$newMessageCount}</span></if></a></li>
                        </ul>
                    </div>
                </div>
            </if>
        </if>
		<if condition="empty($_SESSION['USER_KEY_ID'])">
				<div class="loginArea right" style=" margin-right:5px;">
            	<a href="{:U('Login/index')}" style="color:#f60; font-size:14px;">登录</a>
            	<span class="sep">&nbsp;|&nbsp;</span>
            	<a href="{:U('Reg/reg')}" style="color:#f60; font-size:14px;">注册</a>
        		</div>
		</if>
    </div>
</div>
<div class="top">
    <div class="wapper clearfix">
        <h1 class="left"><a href="{:U('Index/index')}"><img style=" width:172px;" src="{$config.logo}" alt="蓝链网欢迎您" title="蓝链网欢迎您"></a></h1>

        <ul class="nav left" style="z-index:9995; margin-left:100px;">
            <li><a href="{:U('Index/index')}">首页</a></li>

            <li class="box"><a href="{:U('Orders/currency_trade')}">交易中心</a>
            	<div class="box1" style="position:absolute; top:55px; width:690px; background-color:#FFF;// padding-top:10px;border:1px solid #CCC; display:none;">
            <ul id="" style="">
			<foreach name="listCurrency" item="vo">
			
			<li  style="width:170px;border-bottom:#ccc 1px solid;"><a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}"  style=" height:35px;"><img src="{$vo.currency_logo}" style="float:left; width:25px;height:25px; padding: 5px ;" /><div class="all_coin_name" ><p>{$vo.currency_name}({$vo['currency_mark']})</p></div></a></li>
			
			</foreach>
			</ul></div>
            
            </li>

            <li><a href="{:U('Zhongchou/index')}">热门项目</a></li>

            <li><a href="{:U('Safe/index')}">用户中心</a></li>
            <li><a href="{:U('Help/index',array('id'=>60))}">帮助中心</a></li>
            <li><a href="{:U('Art/index',array('ramdon_id'=>'1'))}">最新动态</a></li>
            <li><a href="{:U('Market/index')}">行情中心</a></li>
            <li><a href="{:U('Dow/index')}">下载中心</a></li>
        </ul>
        <div style="float:right; margin-top:18px;"><a href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq1']}&site=qq&menu=yes" target="_blank"><img class="qq_box" src="../../../../Uploads/Public/Uploads/2016-03-15/qq.png"></a></div>
    </div>
</div>
<!--<div class="pclxfsbox"> 
		<ul> 
			<li id="opensq">
				<i class="pcicon1 iscion6" ></i>
				<div class="pcicon1box">
					<div class="iscionbox" >
						<p>在线咨询</p>
						<p>{$config['worktime']|default="暂无"}</p>
					</div>
					<i></i>
				</div>
			</li>
			<li> 
				<i class="pcicon1 iscion1"></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p><img src="{$config['weixin']}" alt="投筹网微信公众号" width="108"></p>
						<p>{$config.name|default="虚拟网"}微信群</p>
					</div>
					<i></i>
				</div>
			</li>
			<li>
				<i class="pcicon1 iscion2"></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>{$config['tel']|default="暂无"}</p>
						<p>{$config.name|default="虚拟网"}</p>
					</div>
					<i></i>
				</div>
			</li>

           <li>
				<i class="pcicon1 iscion3"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq1']}&site=qq&menu=yes"></a></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>{$config.qq1|default="暂无"}</p>
						<p>{$config.name|default="虚拟网"}QQ在线客服1</p>
					</div>
					<i></i>
				</div>
			</li>
            <li>
				<i class="pcicon1 iscion3" style="background:url(__PUBLIC__/Home/images/kefu2.png) no-repeat  rgb(44,169,227);background-position:-144px 11px;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq2']}&site=qq&menu=yes"></a></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>{$config.qq2|default="暂无"}</p>
						<p>{$config.name|default="虚拟网"}QQ在线客服2</p>
					</div>
					<i></i>
				</div>
			</li>
            <li>
				<i class="pcicon1 iscion3" style="background:url(__PUBLIC__/Home/images/kefu3.png) no-repeat  rgb(44,169,227);background-position:-144px 11px;"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq3']}&site=qq&menu=yes"></a></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>{$config.qqqun1|default="暂无"}</p>
						<p>{$config.name|default="虚拟网"}QQ用户群</p>
					</div>
					<i></i>
				</div>
			</li>
			<li>
				<i class="pcicon1 iscion4"></i>
				<div class="pcicon1box">
					<div class="iscionbox">
						<p>返回顶部</p>
					</div>
					<i></i>
				</div>
			</li>
		</ul>
	</div>-->
    <script type="text/javascript"> 
		$(function(){
			$(".pcicon1").on("mouseover",function(){
				$(this).addClass("lbnora").next(".pcicon1box").css({"width":"148px"});
			}).on("mouseout",function(){
				$(this).removeClass("lbnora").next(".pcicon1box").css("width","0px");
			});
			$(".iscion4").on("click",function(){
				$("html, body").animate({
					scrollTop: 0
				})
			});

			var objWin;
			$("#opensq").on("click",function(){
				var top = window.screen.height/2 - 250;
				var left = window.screen.width/2 - 390;
				var target = "http://p.qiao.baidu.com//im/index?siteid=8050707&ucid=18622305"; 
				var cans = 'width=780,height=550,left='+left+',top='+top+',toolbar=no, status=no, menubar=no, resizable=yes, scrollbars=yes' ;

				if((navigator.userAgent.indexOf('MSIE') >= 0)&&(navigator.userAgent.indexOf('Opera') < 0)){
						//objWin = window.open ('','baidubridge',cans) ; 
						if (objWin === undefined || objWin === null || objWin.closed) { 
							objWin = window.open (target,'baidubridge',cans) ; 
						}else { 
							objWin.focus();
						}
				}else{
					var win = window.open('','baidubridge',cans );
					if (win.location.href == "about:blank") {
					    //窗口不存在
					    win = window.open(target,'baidubridge',cans);
					} else {
					    win.focus();
					}
				}
				return false;

			})
		})
		
	</script>
<!--top end-->

<script>
$(".myhome").hover(function(){
	$(".mywallet_list").show();	
},function(){
	$(".mywallet_list").hover(function(){
		$(".mywallet_list").show();	
	},function(){
		$(".mywallet_list").hide();	
	});
	$(".mywallet_list").hide();
});
</script>
<script>
$(".box").hover(function(){
	$(".box1").show();	
},function(){
	$(".box1").hover(function(){
		$(".box1").show();	
	},function(){
		$(".box1").hide();	
	});
	$(".box1").hide();
});
</script>