<include file="Public:header"/>
<body>
<div class="wdxx">
    <header>
        <div class="gwc_bt">
            <div class="gwcbt_fh"><a href="javascript:history.back()" class="gwcdd_fh"></a></div>
            <div class="gwcbt_mc">我的信息</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="mem_center">
        <div class="menu_info">
            <a href="{:U('Member/baseinfo')}"><div>基本资料 <em></em> </div></a>
            <a href="{:U('Member/accountinfo')}"><div>账户信息 <em></em> </div></a>
            <a href="{:U('Member/banklist')}"><div>银行卡信息 <em></em> </div></a>

        </div>
    </div>
</div>
<include file="Public:footer"/>