<include file="Public:header"/>
<body>
<div  class="d_line">
    <header>
        <div class="gwc_bt">
            <div class="gwcbt_fh"><a href="javascript:history.back()" class="gwcdd_fh"></a></div>
            <div class="gwcbt_mc">抢单详情</div>
        </div>
        <div style="height: .96rem;clear: both;"></div>
    </header>
    <div class="qdxq">
        <div class="qrcode">
            <p>
                <switch name="info['status']">
                    <case value="0">匹配中</case>
                    <case value="1">成功</case>
                    <case value="2">等待收款</case>
                    <case value="3">付款失败</case>
                </switch>
            </p>
            <img src="{$info.img}" alt="暂无凭证">
        </div>
        <div class="qdxq_item">
            <span class="qdxq_left">任务标题</span>
            <span class="qdxq_right">
                <if condition="$info['task_id'] gt 0">
                    {$info.task_title}
                <else />
                    系统匹配
                </if>
            </span>
        </div>
        <div class="qdxq_item">
            <span class="qdxq_left">交易类型</span>
            <span class="qdxq_right">支付</span>
        </div>
        <div class="qdxq_item">
            <span class="qdxq_left">交易金额</span>
            <span class="qdxq_right">{$info.reward}</span>
        </div>
        <div class="qdxq_item">
            <span class="qdxq_left">匹配者</span>
            <span class="qdxq_right">{$info.sk_name}</span>
        </div>
        <div class="qdxq_item">
            <span class="qdxq_left">创建时间</span>
            <span class="qdxq_right">{$info.create_time|date="Y-m-d H:i:s",###}</span>
        </div>
    </div>
</div>
<include file="Public:footer"/>