<span class="rightTitle">我的红包</span>

<p>
    <input type="text" placeholder="请输入红包口令" class="blInput">
    <span class="grayColor">口令红包仅为活动赠送，非卖品，获得口令红包请关注蓝链网官方微信。</span>
</p>

<button class="btn_big blBtn">领取红包</button>

<div class="cumulativeTablePanel">
    <span class="cumulativeTable_title">红包记录</span>

    <table class="cumulativeTable">
        <colgroup>
            <col/>
            <col/>
            <col/>
            <col/>
        </colgroup>
        <thead>
        <tr>
            <th>领取时间</th>
            <th>领取金额</th>
            <th>红包口令</th>
            <th>状态</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>