<include file="App/Home/View/Public/header.html"/>
    <div class="luckyContaniter">
        <div class="lcHeader">
            <div class="sbannerBg"></div>
            <div class="divisionLine"></div>
        </div>

        <div class="lcBody">
            <div class="lcBody_center">
                <button class="lcBtn scoreActive1">积分抽奖活动</button>
                <div class="luckyPanelCtrl">
                    <div class="present" id="present1">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/1.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present2">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/2.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present3">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/3.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present4">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/4.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="presentCtrl" onclick="doSetPresent();">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/start.jpg">
                    </div>
                    <div class="presentCenter1" id="present12">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/12.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="presentCenter2" id="present11">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/11.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="presentCenter3" id="present5">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/5.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="presentCenter4" id="present6">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/6.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present10">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/10.png">
                        <div class="imgBg"></div>

                    </div>
                    <div class="present" id="present9">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/9.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present8">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/8.png">
                        <div class="imgBg"></div>
                    </div>
                    <div class="present" id="present7">
                        <img src="../../../../Uploads/Public/Uploads/2016-06-03/7.png">
                        <div class="imgBg"></div>
                    </div>
                </div>
                <div class="luckyPanelCtrlBorder">

                </div>
                <button class="lcBtn scoreActive2">积分<span class="yellowColor">登录可查看</span></button>
                <button class="lcBtn scoreActive3">可抽奖次数: <span class="yellowColor">0</span>次</button>
                <img class="shengz" src="../../../../Uploads/Public/Uploads/2016-06-03/shengz.png"/>
                <div class="bar"></div>

                <div class="presentList">
                    <ul class="presentTitle">
                        <li class=""><span class="colorRadius"></span>凡是蓝链网用户,均可凭自己推荐及交易获得的积分参与本次活动,每次抽奖将消耗100积分,积分越多,抽奖的机会也越多,抽到的奖品也就越多。</li>
                        <li class=""><span class="colorRadius"></span>参加"抽奖活动"的用户,凭个人积分可每日多次参与。</li>
                    </ul>

                    <div class="presentTable">
                        <div class=presentTableHeader>
                            <strong>中奖名单</strong>
                        </div>

                        <ul class="present_tableHeader">
                            <li class="presentTableId"  >序号</li>
                            <li class="presentTableName">用户名</li>
                            <li class="presentTableTime">中奖时间</li>
                            <li class="presentTableGet"  >获得礼品</li>
                        </ul>

                        <ul class="present_tableBody">
                            <li class="tableTr">
                                <ul>
                                    <li class="presentTableId"  >4768</li>
                                    <li class="presentTableName">f******n</li>
                                    <li class="presentTableTime">2016-06-03 00:00:00</li>
                                    <li class="presentTableGet" >2元投资返现券</li>
                                </ul>
                            </li>

                            <li class="tableTr">
                                <ul>
                                    <li class="presentTableId"  >4768</li>
                                    <li class="presentTableName">f******n</li>
                                    <li class="presentTableTime">2016-06-03 00:00:00</li>
                                    <li class="presentTableGet" >2元投资返现券</li>
                                </ul>
                            </li>

                            <li class="tableTr">
                                <ul>
                                    <li class="presentTableId"  >4768</li>
                                    <li class="presentTableName">f******n</li>
                                    <li class="presentTableTime">2016-06-03 00:00:00</li>
                                    <li class="presentTableGet" >2元投资返现券</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="presentInfo">
                    <span class="lcBtn">积分抽奖·奖品展示</span>
                    <div class="treeLine">
                        <div class="raduisLine1"></div>
                        <div class="raduisLine2"></div>
                    </div>

                    <div class="presentInfoShowList">
                        <div class="presentImg">
                            <div class="imgBg">

                            </div>

                            <div class="presentDescription">
                                <span class="yellowColor">一等奖</span>
                                <span class="yellowColor">￥13988</span>
                                <p>大奖大奖</p>
                            </div>
                        </div>

                        <div class="presentImg">
                            <div class="imgBg">

                            </div>

                            <div class="presentDescription">
                                <span class="yellowColor">一等奖</span>
                                <span class="yellowColor">￥13988</span>
                                <p>大奖大奖</p>
                            </div>
                        </div>

                        <div class="presentImg">
                            <div class="imgBg">

                            </div>

                            <div class="presentDescription">
                                <span class="yellowColor">一等奖</span>
                                <span class="yellowColor">￥13988</span>
                                <p>大奖大奖</p>
                            </div>
                        </div>

                        <div class="presentImg">
                            <div class="imgBg">

                            </div>

                            <div class="presentDescription">
                                <span class="yellowColor">一等奖</span>
                                <span class="yellowColor">￥13988</span>
                                <p>大奖大奖</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="lcFooter">
                    <div class="footerLogo"></div>
                    <div class="footerTitle">
                        <span style="display: inline-block;height: 45px;vertical-align: top;">
                            1, 积分获取途径:
                        </span>
                        <span style="display: inline-block">
                            A.推荐好友为有效用户,推荐人与被推荐人各得10分;<br/>
                            B.用户每日登录并交易,送5积分;<br/>
                            C.每日蓝币交易量达到100000BEC以上,送20积分;
                        </span>
                        <br/>
                        <span>
                            2, 本活动为100%中奖,活动奖品均为优质产品;
                        </span>
                        <br/>
                        <span>
                            3, 本活动的所有奖品将在中奖后的2个工作日内寄出,具体物流信息与平台"奖品专员"联系;
                        </span>
                        <br/>
                        <span>
                            4, 如您对本次活动有任何疑问时,请您及时与我们的客户联系,或者拨打客服电话<span style="color: #cf253e;">400-8753-811</span>进行交流
                        </span>
                        <br/>
                        <span>
                            5, 本次活动的最终解释权归蓝链网平台所有。
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
