 <include file="App/Home/View/Public/header.html"/>
<!-- <link href="__PUBLIC__/Home/jquery-ui-1.css" rel="stylesheet" type="text/css" media="screen, projection">
<link media="screen, projection" type="text/css" rel="stylesheet" href="__PUBLIC__/Home/shop_list.css">
<link media="screen, projection" type="text/css" rel="stylesheet" href="__PUBLIC__/Home/global.css">
<link media="screen, projection" type="text/css" rel="stylesheet" href="__PUBLIC__/Home/1200.css">
 --><div id="main">
<!--  内容开始-->
<div class="marketArea clear">
	<div class="g-wrap g-body-hd f-clear">
	<div class="list_Curtit" id="current">
	<h1 class="fl">开奖记录</h1>
	<span id="spTotalCount">(累计开奖<em class="orange">{$count}</em>次)</span>
	</div>
	</div>
<div class="buy-w" style='width:1000px;'>
<ul class="buy-ul">
<volist name="list" id="vo" mod="3">
				<li onmouseover="this.className='g2'" onmouseout="this.className='f2'" class="f2"  <eq name="mod" value="2">style="margin-right:0"</eq>>
					<em class="qg-em1"><a href="{:U('Yun/detail','id='.$vo['goods_id'])}"><img src="{$goods.pic}" alt="{$goods.title}"></a></em>
					<em class="qg-em2"><a href="{:U('Yun/detail','id='.$vo['goods_id'])}" title="{$goods.title}">{$goods.title}</a></em>
					<em class="qg-em8">云购价：{:floatval($goods['money'])}{$sys.kgname} </em>
					<div class="qg-but" style="padding: 5px 0px;">
						<div
							style="text-align: left; width: 70px; float: left; padding-top: 10px;">
							<img src="/Public/Home/images/login_exp04.png" style="width: 70px; padding-bottom: 5px;">
							<br>
							<b style="display: block; text-align: center; color: #ff7d26; font-size: 16px;">NO.{$vo['qishu']}</b>
						</div>
						<div
							style="text-align: left; line-height: 30px; color: #666666; float: left; width: 210px;">
							恭喜【{:yun_hide_user($vo['username'])}】获得该奖品
							<br>
							云购码：{$vo['add_time']}{$win.id}
							<br>
							本期参与：{$goods.total_num}人次
							<br>
							揭晓时间：{:yun_get_wintime($vo['goods_id'],$vo['qishu'])}
							<br>
						</div>
						<div class="clear"></div>
					</div>
				</li>
	
</volist>
</ul>
</div>	
<div id="DivPages" class="pages">{$page}</div>
</div>
<!--footer start--> 
<include file="App/Home/View/Public/footer.html"/>
