<include file="App/Home/View/Public/header.html"/>
<!--top end-->
<!--header end-->
<style>
.pull-left{ float:left;}
.pull-right{ float:right;}
.link a{ color:#4d4d4d;}
.link{ margin:0px auto; width:100%;}
.on{ border-top-color:rgb(255, 121, 80); }
.on2{ border-bottom-color:rgb(255, 121, 80);}
</style>
<script type="text/javascript" src="__PUBLIC__/Home/js/focus.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/Fnc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/zc.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.flexslider-min.js"></script>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/hb_index.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/zc.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/flexslider.css">
<!--banner start-->
<div style="height:450px; width:100%; position:relative; overflow:hidden; min-width:1200px;">

<div>
	<div class="flexslider">
		<ul class="slides">
			<volist name='flash' id='vo'>
            	<li><a target="_blank" href="{$vo.jump_url}"><img src="{$vo.pic}" alt="{$vo.title}" style="height:400px;"></a></li>
            </volist>
		</ul>
	</div>
    <div class="ybcoin_volume_Bg">

    </div>
	<div class="ybcoin_volume">
    <empty name="member">
        <div style="color:#000;">
        <form class="form-horizontal m-t"  id="signupForm" jump-url="{:U('Safe/index')}" method="post"  action="{:U('Login/checkLog')}">
			<p style=" font-size:18px; margin-bottom:5px;">登录</p>
			<input  name="username" id="username"  type="text" style="width:258px; height:40px; background-color:#FFF; border:1px solid #adadad;" placeholder="  用户名">
			<span class="note" id="emailmsg" style="color:red"></span>
            <input name="pwd" id="pwd" type="password" style="width:258px; height:40px; background-color:#FFF; border:1px solid #adadad; margin-top:10px;" placeholder="  密码">
			 <span class="note" id="pwdmsg" style="color:red"></span>
		</div>
					<div class="news_coin"><input class="denglu" value="登录" style="border:0;margin-top:10px;width:260px;" type="button" onclick="checkform()"   >
					</div>
					
        </form>
			<p class="coin_reg" style="color:#000;"><!--<a style=" float:left;color:#000;" href="{:U('Oauth/index',array('type'=>'qq'))}">QQ登录</a> --><a style="margin-left:0px;color:#000;" href="{:U('Reg/reg')}" class="left">免费注册</a><a href="{:U('Login/findPwd')}" class="right" style="color:#000;">忘记密码</a></p>
            
			</div> 
            <else/>
            <div>
            	<p style="font-size:18px; color:#000;">欢迎使用{$config.name}</p>
                <p style="font-size:14px; color:#000; margin-top:15px;">您正在使用的账号为：
                	<br><span style="font-size:14px; color:#ff5200;">{$member.username}</span>
                </p>
                <p style="font-size:14px; color:#000; margin-top:5px;">ID：
                	<span style="font-size:14px; color:#ff5200;">{$member.member_id}</span>
                </p>
                <p style="font-size:14px; color:#000; margin-top:5px;">总资产：
                	<span style="font-size:14px; color:#e55600;">{$allmoneys|round=5}</span>
                </p>
                <a href="{:U('User/pay')}" style=" float:left; background-color:#FFF; border:1px solid #f79c6b; width:70px; height:30px; color:#ff5200; line-height:30px; text-align:center; margin-top:15px;">充值</a>
                <a href="{:U('User/draw')}" style="float:left; background-color:#FFF; border:1px solid #f79c6b; width:70px; height:30px; color:#ff5200; line-height:30px; text-align:center; margin-top:15px; margin-left:20px;">提现</a>
                <a href="{:U('Entrust/manage')}" style="float:right; background-color:#FFF; border:1px solid #f79c6b; width:70px; height:30px; color:#ff5200; line-height:30px; text-align:center; margin-top:15px;">委托管理</a>
                <div style="clear:both"></div>
                <a href="{:U('Finance/index')}" style=" float:left; background-color:#3299ff;width:260px; height:40px; color:#FFF;line-height:40px; text-align:center; margin-top:15px; font-size:16px;">去财务中心</a>
                </div>
            </div>
            </empty>
</div>
</div>
<!--banner end-->
<div class="ybcoin_section clearfix" style="border:0;">

    <!--币币交易开始-->
    <div id="tags_coin" class="coinarea left" style="position:relative;">
     
        <div class="bgcolor" style="display:none;"></div>
        <div style="margin-top:30px;" id="tagContent">
            <!-- 对CNY交易区 结束-->
            <div class="tagContent selectTag" id="tagContent0">
                <!-- <p style="color:#f00; font-size:14px; margin-bottom:10px;">{$config.friendship_tips}</p>-->
                <ul class="coin_list_tableHeader">
                    <li></li>
                    <li>币种</li>
                    <li class="header">最新成交价(CNY)</li>
                    <li class="header">本日最高/最低</li>
                    <li class="header">24H成交量</li>
                    <li class="header">24H成交额(CNY)</li>
                    <li class="header">日涨跌</li>
                    <li class="header">价格趋势<!--(3日)--></li>
                </ul>

                <ul class="coin_list_tableBody">
                    <volist name='currency' id='vo' empty='$empty'>
                        <li>
                            <ul>
                                <li class="coin_name" style="font-family:黑体;"><a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}"><img src="{$vo.currency_logo}" style="width:30px; height:30px;"></a><a class="coinNameTitle" style="font-weight: bold; font-size: 12px;font-family: Arial, 微软雅黑;" href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">{$vo.currency_name|default='虚拟币'}{$vo.currency_mark|default=''}</a></li>
                                <li><eq name='vo.new_price_status' value='0' ><a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" class="sell"><else/>
                                    <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" class="buy"></eq>
                                    {$vo.new_price|default='暂无'}<eq name='vo.new_price_status' value='0'>↓<else/>↑</eq></a></li>
                                <li>
                                    <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" class="sell">
                                        <!-- {$vo.todaymostlow.status|default='sell'}-->
                                        <!--<span class="{$vo.todaymosthign.status|default='sell'}">{$vo.todaymosthign.price|default='0'}</span>/<span class="">{$vo.todaymostlow.price|default='0'}</span>-->
                                        <span class="buy">{$vo.todaymosthign.price|default='0'}</span>/<span class="">{$vo.todaymostlow.price|default='0'}</span>
                                    </a>
                                </li>
                                <li><a class="coinNameTitle" href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">{$vo.24H_done_num|getFloatToNum=###}<eq name="vo.24H_done_num_status" value="1">万</eq></a></li>
                                <li><a class="coinNameTitle" href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">{$vo.24H_done_money|getFloatToNum=###}<eq name="vo.24H_done_money_status" value="1">万</eq></a></li>
                                <li>
                                    <lt name='vo.24H_change' value='0'>
                                        <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" class="sell">
                                            <else/>
                                            <a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}" class="buy">
                                    </lt>{$vo.24H_change|default='0'}%</a>
                                </li>

                                <li class="threeDay">
                                    <input type="hidden" class="currency_id" name="currency_id_{$vo.currency_id}" id="currency_id_{$vo.currency_id}" value="{$vo.currency_id}">
                                    <canvas class="threeDayPic" style="height: 25px;width: 300px;"></canvas>
                                </li>

                                <li class="qjy_box"><a href="{:U('Orders/index',array('currency'=>$vo['currency_mark']))}">去交易</a></li>
                                <br/>
                            </ul>
                        </li>

                    </volist>
                </ul>


            </div>
        </div>
    </div>
    <!--币币交易结束-->

    <!--<ul>
        <volist name="info2" id="vo2">
            <li><a href="{:U('Art/details',array('id'=>$vo2['article_id']))}"><span class="coin_news_title left">{$vo2.title}</span><span class="right">{$vo2.add_time|date='m-d',###}</span></a></li>
        </volist>
    </ul>-->
    <div style=" clear:both;"></div>
    <div class="headerWarningPanel">
        <div style="color: #ff5200; padding: 7px; font-size: 14px; border: 1px dashed rgb(255, 0, 0); width: 1080px; margin: auto;margin-top: 10px;">{$config.name}{$config.friendship_tips}</div>
    </div>


</div>
<div class="safety_tips">
<div style="border-top:#d8d8d8 dotted 1px;width: 1000px; margin: 0 auto; margin-bottom: 20px;"></div>
<h3>专业的安全保障</h3>
<div class="autobox" style="width:1000px;">
    <ul class="safety_tips_ul clear">
        <li style="margin-left:10px;">
            <img style="float:left;" src="/Public/Home/images/safe_1.png" alt="" height="70" width="70">
            <div style="float:right">
            <h4 style=" text-align:left; margin-top:0;">安全</h4>
            <p>钱包多重加密&nbsp;离线存储<br>资金第三方托管</p>
            </div>
        </li>
        <li style="margin-left:45px;">
            <img style="float:left;" src="/Public/Home/images/safe_2.png" alt="" height="70" width="70">
            <div style="float:right">
            <h4 style=" text-align:left; margin-top:0;">可靠</h4>
            <p>高性能专业撮合引擎<br>金融级别交易保证</p>
            </div>
        </li>
        <li style="margin-left:35px;">
            <img style="float:left;" src="/Public/Home/images/safe_3.png" alt="" height="70" width="70">
            <div style="float:right">
            <h4 style=" text-align:left; margin-top:0;">专业</h4>
            <p>充值即时&nbsp;提现迅速<br>标准化客服体系</p>
            </div>
        </li>
        <li style="margin-left:30px;">
            <img style="float:left;" src="/Public/Home/images/safe_4.png" alt="" height="70" width="70">
            <div style="float:right">
            <h4 style=" text-align:left; margin-top:0;">快捷</h4>
            <p>用户至上&nbsp;响应及时<br>高水准用户体验</p>
            </div>
        </li>
    </ul>
</div>
</div>
<div style="width:1200px; margin-left:auto; margin-right:auto; margin-top:10px;" class="gonggao">
<div style="width:300px; margin-left:50px; float:left;">
    <a style="font-size:20px; color:#333; line-height:60px;" href="{:U('Art/index',array('id'=>'127'))}">{$bsdtitle}</a><br>
    <volist name="bsd" id="vo">
        <a style="font-size:12px; color:#333; line-height:25px;" href="{:U('Art/details',array('id'=>$vo['article_id']))}">{$vo.title}</a><br>
    </volist>
    <a style="font-size:12px; color:#333;line-height:25px;" href="{:U('Art/index',array('id'=>'127'))}">查看更多>></a><br>
</div>
<div style="width:300px; margin-left:100px; float:left;">
    <a style="font-size:20px; color:#333; line-height:60px;" href="{:U('Art/index',array('id'=>'128'))}">{$btbtitle}</a><br>
    <volist name="btb" id="vo">
        <a style="font-size:12px; color:#333; line-height:25px;" href="{:U('Art/details',array('id'=>$vo['article_id']))}">{$vo.title}</a><br>
    </volist>
    <a style="font-size:12px; color:#333;line-height:25px;" href="{:U('Art/index',array('id'=>'128'))}">查看更多>></a><br>
</div>
<div style="width:300px; margin-left:100px; float:left;">
    <a style="font-size:20px; color:#333; line-height:60px;" href="{:U('Art/index',array('id'=>'129'))}">{$szbtitle}</a><br>
    <volist name="szb" id="vo">
        <a style="font-size:12px; color:#333; line-height:25px;" href="{:U('Art/details',array('id'=>$vo['article_id']))}">{$vo.title}</a><br>
    </volist>
    <a style="font-size:12px; color:#333;line-height:25px;" href="{:U('Art/index',array('id'=>'129'))}">查看更多>></a><br>
</div>
</div>


<div style="clear:both;"></div>


<script type="text/javascript" src="__PUBLIC__/Home/js/coinindex.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/tab.js"></script>
<!-- 成功案例 -->
<script type="text/javascript">
$(".cagret-up").on("click",function(){
	$(".cagret").removeClass("on on2");
	$(this).addClass("on2");
});


var picLength = $('.threeDayPic').length;
var canvas = 0;

for(var i = 0; i < picLength; i++){
	$.get( "/Home/Orders/getOrdersKline",{"currency":$($(".currency_id").get()[i]).val(),"time":"kline_8h"}, function(data){
		
		
		
		var Cvs = $('.threeDayPic').get()[canvas++].getContext('2d');
		Cvs.canvas.width = '300';
		Cvs.canvas.height = '20';
		Cvs.beginPath();
		Cvs.strokeStyle = '#f60';
		Cvs.moveTo(10, 10);

		var dot = data.kline_8h;
		var j = 5;
		for(var i = 0; i < dot.length; i++){
			var astr =  dot[i];
			//alert(astr[1]);
			Cvs.lineTo((15+(i*j)),(astr[1]));
		}
/*
		Cvs.lineTo(20, 4);
		Cvs.lineTo(25, 22);
		Cvs.lineTo(30, 13);
		Cvs.lineTo(35, 16);
		Cvs.lineTo(40, 10);
		Cvs.lineTo(45, 23);
		Cvs.lineTo(50, 12);
		Cvs.lineTo(55, 20);
		Cvs.lineTo(60, 12);
		Cvs.lineTo(65, 5);
		Cvs.lineTo(70, 8);
		Cvs.lineTo(75, 12);
		Cvs.lineTo(80, 15);
		Cvs.lineTo(85, 22);
		Cvs.lineTo(90, 18);
		Cvs.lineTo(95, 7);
*/
		Cvs.lineWidth = 2;
		Cvs.stroke();
		Cvs.closePath();
});
}
</script>
<!--<div class="success-project">
    <div class="page-view">
         <div class="row">
           <p class="sp-title">众筹</p>
        </div>
        <div class="row" style="overflow: hidden;position: relative;">
            <span class="sp-prev"><img src="__PUBLIC__/Home/images/suc_left_arrow.png"></span>
            <span class="sp-next"><img src="__PUBLIC__/Home/images/suc_right_arrow.png"></span>

            <div class="sp-view">
            <volist name="issue_list" id="vo">
                <div style="width: 400px;" class="sp-wrap">
                    <div class="sp-box">
                        <a href="{:U('Zhongchou/details',array('id'=>$vo['id']))}" target="_blank">
                            <div class="sp-info">
                                <div class="pull-right pull-right1">
                                    <h4 style="font-weight: normal;font-size: 16px">{$vo['title']|mb_substr=###,0,8,'utf-8'}</h4>

                                    <p style="font-size: 12px;">{$vo['name']}</p>
                                </div>
                                <img src="{$vo['url1']}" style="width: 82px;height: 82px;">
                                <!--                                    <img src="--><!--" style="width: 82px;height: 82px;">-->
                   <!-- </div> 
                        </a>

                        <div class="sp-step">
                            <div class="pull-left sp-time">
                                <p><span>{$vo['end_time']|date="Y-m-d",###}</span></p>
                                <p><span>{$vo['add_time']|date="Y-m-d",###}</span></p>
                                <p><span>{$vo['ctime']|date="Y-m-d",###}</span></p>
                            </div>
                            <div class="pull-right">
                                <p>众筹完成</p>
                                <p>众筹开始</p>
                                <p>初创项目</p>
                            </div>
                        </div>
                    </div>
                </div>
            </volist>
              -->

<script>
$(".cagret-down").on("click",function(){
	$(".cagret").removeClass("on on2");
	$(this).addClass("on");
});

</script>


<!-- 客服信息 -->
<div class="autobox">
    <ul class="web_service clear pl30">
        <li class="w265"><a id="BizQQWPA" href="http://wpa.qq.com/msgrd?v=3&uin={$config['qq1']}&site=qq&menu=yes"><div class="web_service_pic service_1"></div><div class="web_service_pic_num"><p>{$config.qq|default="暂无"}</p><div class="qqsecvice">在线QQ客服</div></div></a></li>
        <li class="w245"><div class="web_service_pic service_2"></div><div class="web_service_pic_num"><p>{$config.tel|default="暂无"}</p><div>工作日:9-19时 节假日:9-18时</div></div></li>
        <li class="w265"><a href="http://{$config.weibo}" target="_blank"><div class="web_service_pic service_3"></div><div class="web_service_pic_num"><p>{$config['weibo']|default="暂无"}</p><div>新浪官方微博</div></div></a></li>
        <li><div class="web_service_pic service_4"></div><div class="web_service_pic_num"><p>1群：{$config['qqqun2']|default="暂无"}</p><div class="h_underl">交流QQ群<!--  <a href="javascript:;" class="orange">查看更多</a>   --></div></div></li>
    </ul>
</div>


<!--友情链接-->
<div class="link">
    <div class="linkbox">
        <h4>友情链接</h4>
        <ul>
            <volist name = "link_info" id = "vo">
                <li><a target="_blank" href="http://{$vo['url']}" style=" font-size:14px;color: #999">{$vo.name}</a> </li>
            </volist>
        </ul>
    </div>
</div>
<script>
    vali = {username: 0, pwd: 0};
    $('#username').bind('blur', function(){
        $.post("{:U('Login/checkIp')}",{username:$(this).val()},
                function(d){
                    if(d.status==1){
                        $("#birthcheck").show();
                        $('#birthmsg').html(d.msg);
                    }
                    if(d.status==2){
                        validateMsg('username',d.msg, vali.username = 0);
                    }else{
                        return validateMsg('username', '', vali.username = 1);
                    }
                }, 'json');

    });
    function checkform(){
//        if(vali.email==0){
//            $('#username').focus();
//            return false;
//        }
//        if(vali.pwd==0){
//            $('#pwd').focus();
//            return false;
//        }
//       return true;
        $('#signupForm').submit();
    }

    $('#pwd').bind('blur', function(){
        var pLen = $(this).val().length;
        if(pLen < 6 || pLen > 20) return validateMsg('pwd', '密码长度在6-20个字符之间', 0);
        return validateMsg('pwd', '', vali.pwd = 1);
    }).on('keyup', function(event){
        if(event.keyCode == 13){
            console.log('test');
            checkform()
        }
    });
</script>
<script>
    $("#signupForm").validate({
        rules: {
        },
        messages: {
        },
        submitHandler:function(form){
            ajax_submit_form(form)
            return false;
        },
        invalidHandler: function() {  //不通过回调
            return false;
        }
    });
</script>
<script src="__PUBLIC__/Home/js/form.js"></script>
<!--footer start-->
<include file="App/Home/View/Public/footer.html"/>
<!--footer end-->
<script>
$(function() { 
    $(".flexslider").flexslider({
		directionNav: true,
		pauseOnAction: false
});
});

</script>
