<include file="Public:header"/>
<body>
<div>
    <div class="login_bgk">
        <div class="jump_btn">
            <a class="jump_active" href="javascript:void(0);">登&nbsp;录</a><a href="{:U('Reg/index')}">注&nbsp;册</a>
        </div>
    </div>

    <div class="form-login">
        <form action="">
            <div class="nametext"><input type="text" placeholder="请输入用户名" id="username" name="username"><i></i></div>
            <div class="pwdtext"><input type="password" placeholder="请输入密码" id="password" name="password"><i></i></div>
            <div class="logintext" onclick="sub()">登&nbsp;录</div>
            <a href="{:U('Login/forgetpwd')}"><div class="forgetpwd">忘记密码</div></a>
        </form>
    </div>
</div>
<script>
    function sub(){
        var username = $("#username").val();
        var password = $("#password").val();

        if(username==""||username==null){
            layer.msg('请输入用户名');
            return false;
        }
        if(password == ""||password == null){
            layer.msg('请输入登录密码');
            return false;
        }
        $.post("{:U('Login/op_login')}",{username:username,pwd:password},function(data){
            if(data.status == 1){
                if(data.is_complete_info == 0){
                    layer.msg("登录成功，请去完善个人信息",{icon:1});
                    window.setTimeout(function(){
                        window.location="{:U('FullInfo/full_info')}";
                    },1000);
                }else{
                    layer.msg("登录成功",{icon:1});
                    window.setTimeout(function(){
                        window.location="{:U('Member/index')}";
                    },1000);
                }

            }else{
                layer.msg(data.info);
                return false;
            }
        },"json");
    }
</script>
<include file="Public:footer"/>

