<include file="App/Home/View/Public/header.html"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/kline.css">
<script src="__PUBLIC__/Home/js/jquery-1.js"></script>
<script src="__PUBLIC__/Home/js/highstock.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/tab2.js"></script>
<style>
td{
border-bottom:1px solid #f1f1f1;
}
</style>
<div id="main">
	<div class="main_box">
		<include file="App/Home/View/Public/left.html"/>
		<div class="raise right clearfix">
            <div class="ybc_list">
           <!--  <h2>集市交易 &nbsp;&nbsp;&nbsp;<a href="{:U('Trade/myDeal')}" class=" my_coin_trade">成交记录</a></h2> -->
	<ul id="pass_change1">
        <li class=""><a href="{:U('Trade/jishitrade')}">市场</a> </li>
        <li class=""><a href="{:U('Trade/shichangtrade')}">市场交易</a> </li>
        <li class=""><a href="{:U('Trade/chengjiao')}">成交记录</a></li>
        <li class=""><a href="{:U('Trade/jiangli')}">集市奖励</a></li>
        <li class="selectTag titleStyle"><a href="{:U('Trade/paixing')}">24H排行榜</a></li>
        <div class="clear"></div>
    </ul>
    
          </div>
          
           <!--  筛选条件开始-->
          <form method='post' action="{:U('Trade/paixing')}">
	          <h2 style="    float: right;">币种：
	          
			          <select name='currency_id'    style="height: 30px;" >
			          	<option value='0'>请选择币种</option>
				          <volist name='bi_name' id='v'>
				          	<option value='{$v.currency_id}' <eq name='select_cur' value='$v.currency_id'> selected</eq>>{$v.currency_name}</option>
				          </volist>
			          </select> 
			          <input class='btn' style="margin-top: -4px;" type='submit' value='搜索'/>
		      
		          <!-- <input type='submit' value='选择' onclick='displayBi()' /> -->
	          </h2>
          </form>
          <!-- 筛选条件结束 -->
          <!-- 记录开始 -->
         
      <table width="100%" class="raise_list" >
            <tbody>
              <tr align="center">
				<th width="40">排名</th>
				<th width="100">UID</th>
				<th width="120">币种</th>
				<th width="100">总数量</th>
				<th width="100">总金额</th>
              </tr>
              
              <notempty  name='list'>
              	<foreach name='list' item='v'>
                <tr align="center">
                	 <td>No.{$v.no}</td>
                	 <td>{$v.member_id}</td>
                	 <td>{$v.currency_name}</td>
                     <td>{$v.buy_num}</td>
                     <td>{$v.total_money}</td>                    
				</tr>
                </foreach>
              </notempty>
            </tbody>
          </table>
      </div>
      <!--  记录结束-->
    </div>
      <div class="clear"></div>
  </div>
<script>
$(".menu16").addClass("uc-current");
</script>  
<!--footer start-->
<include file="App/Home/View/Public/footer.html"/>
<!--footer end-->

