<include file="App/Home/View/Public/header.html"/>
<!--top end-->
<div class="ybc_section">
	<ul class="ybc_user_nav clearfix Font18">
		<li class="current"><span>1</span>邮箱注册</li>
		<li class="current"><span>2</span>设置交易密码</li>
		<li class="current"><span>3</span>实名认证</li>
		<li class="current"><span>4</span>注册成功</li>
	</ul>
	<div class="ybc_rz">
		<p class="Font24">恭喜您，注册成功！</p>
<div class=" ybc_kind" style="width:285px; margin:50px auto; padding-left:0;">
<a href="#" class="ybc_kind_three ybc_kind03" style="display:block;">
		<img style="float:left;" src="/Public/Home/images/sure.png" alt="" height="146" width="285">
	</div>

	</div>
	
			
		</div>
	<a href="{:U('Index/index')}" style=" width:285px; text-align:center; height:60px; line-height:60px; margin:0 auto 50px auto; background:#f60; font-size:18px; color:#fff; display:block; border-radius:10px;">进入蓝链网</a>
</div>
    <!--footer start-->
<div class="ybc_footer">Copyright  2013-2016 蓝链网 All Rights Reserved. Powered by 日晟(十堰)网络服务有限公司 </div>
    <!--footer end-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/downList.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/sdmenu.js"></script>

</body></html>