<include file="App/Home/View/Public/header.html"/>
<!--top end-->
<div class="ybc_section">
	<ul class="ybc_user_nav clearfix Font18">
		<li class="current"><span>1</span>邮箱注册</li>
		<li class="current"><span>2</span>设置交易密码</li>
		<li class="current"><span>3</span>KYC1认证</li>
		<li class="current"><span>4</span>注册成功</li>
	</ul>
	<div class="ybc_rz">
		<p class="Font24">恭喜您，注册成功，请马上KYC2认证</p>
		
	</div>
		<div class=" ybc_kind" style="width:285px; margin:50px auto; padding-left:0;">
			<!-- ><a href="#" class="ybc_kind_three ybc_kind03" style="display:block;">
				<h2>马上充值<span class="Font16"></span></h2> -->
				<img style="float:center;" src="/Public/Home/images/sure1.png" alt="" height="146" width="300">
			</a>
			<p>请牢记您的注册信息</p>
		</div>
	<a href="{:U('User/photo_auth')}"  style=" width:285px; text-align:center; height:60px; line-height:60px; margin:0 auto 50px auto; background:#f60; font-size:18px; color:#fff; display:block; border-radius:10px;">KYC2认证</a>
<a href="{:U('Index/index')}" style=" width:285px; text-align:center; height:60px; line-height:60px; margin:0 auto 50px auto; background:#f60; font-size:18px; color:#fff; display:block; border-radius:10px;">进入侗红实业共享创业网</a>
	</div>
    <!--footer start-->
<div class="ybc_footer">Copyright  2018 侗红实业共享创业网（www.donghong100.cn） All Rights Reserved. Powered by 广西侗红茶业股份有限公司 </div>
    <!--footer end-->
    <script type="text/javascript" src="__PUBLIC__/Home/js/downList.js"></script>
    <script type="text/javascript" src="__PUBLIC__/Home/js/sdmenu.js"></script>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?0ab4db557b96d841137861e0740d1e0a";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>	


</body></html>