<include file="Public:header"/>
<body style="background-color: #eaf8f8;">
<div>
    <header>
        <div class="gwc_bt">
            <div class="gwcbt_fh"></div>
            <div class="gwcbt_mc">任务汇</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <input type="hidden" name="member_id" value="{$member_id}">
    <input type="hidden" name="username" value="{$username}">
    <input type="hidden" name="head" value="{$head}">
    <input type="hidden" name="type" value="{$type}">
    <!--zhezhao-->
    <div class="is_zhezhao"></div>
    <div class="qd_tips" style="display:none;">
        <div>
            <h2>匹配用户结果</h2>
            <div class="qd_user">
                <img class="mem_head" src="__IMG__/task/gwc_spimg.jpg" alt="">
                <p><span class="mem_username">雪中行者</span><br>
                   <span class="mem_phone">151****5825</span>
                </p>
            </div>
            <div class="qd_tips_btn">
                <span class="qd_tips_confirm" data-op_type="">确定</span>
            </div>
        </div>
    </div>
    <div class="new_wyqd">
        <volist name="list" id="vo">
            <div class="new_item">
                <div class="new_fb">
                    <p class="qd_op" onclick="qiandan({$vo.id},1)">发布</p>
                    <p class="ss_status">
                        <span>搜索状态</span>
                        <span class="op_res">
                            <if condition="$vo['qd_status'] eq 1">
                                <a href="{:U('Trade/pay_fk',array('task_id'=>$vo['id'],'status'=>2))}">搜索成功</a>
                            <elseif condition="$vo['qd_status'] eq 2" />
                                搜索中
                            <elseif condition="$vo['qd_status'] eq 3" />
                                 <a href="{:U('Trade/pay_fk',array('task_id'=>$vo['id'],'status'=>3))}">已被拒绝</a>
                            <else />
                                ---
                            </if>
                        </span>
                    </p>
                </div>
                <div class="new_sq">
                    <p class="qd_op" onclick="qiandan({$vo.id},2)">收取</p>
                    <p class="ss_status">
                        <span>搜索状态</span>
                        <span class="op_res">
                            <if condition="$vo['sk_status'] eq 1">
                                <a href="{:U('Trade/pay_sk',array('task_id'=>$vo['id'],'status'=>2))}">搜索成功</a>
                            <elseif condition="$vo['sk_status'] eq 2" />
                                搜索中
                             <elseif condition="$vo['sk_status'] eq 3" />
                                  <a href="{:U('Trade/pay_sk',array('task_id'=>$vo['id'],'status'=>3))}">已拒绝</a>
                             <else />
                                ---
                            </if>
                        </span>
                    </p>
                </div>
            </div>
        </volist>
    </div>
</div>

<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="javascript:void(0);">
            <li class="footer_sy">
                    首页
                <i class="footer_active"></i>
            </li>
        </a>
        <a href="{:U('Task/index')}">
            <li class="footer_fl">任务</li>
        </a>
        <a href="{:U('Promote/index')}">
            <li class="footer_tg"> 推广 </li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_hyzx">个人中心</li>
        </a>
    </ul>
</div>

<script>
    function qiandan(id,type){
        $.post("{:U('Index/qiandan')}",{task_id:id,type:type},function(data){
            console.log(data);
            /*匹配成功*/
            if(data['status'] == 1){
                layer.msg("已匹配抢单者，请及时领取...",{icon:1});
                window.location="{:U('Login/index')}";
            }else if(data['status'] == 2){  /*未匹配成功*/
                layer.msg("正在匹配中，请等待...",{icon:1});
            }else if(data['status'] ==3){  /*先登录*/
                layer.msg("请先去登录...");
                window.location="{:U('Login/index')}";
            }else if(data['status'] == 4){  /*跳转发布页面*/
                window.location=data.info;
            } else{
                layer.msg(data['info']);
            }
        })
    }
    /*取消按钮*/
    $(".qd_tips_confirm").find('.qd_tips_concel').click(function () {
        $(".qd_tips").hide();
        $(".is_zhezhao").attr('class',"is_zhezhao");
        var op_type = $(this).data('op_type');
        if(op_type == 1){
            layer.msg("请及时上传付款凭证。。",{icon:1});
            window.location="{:U('Trade/qd_record')}";
        }else if(op_type == 2){
            layer.msg("请及时确认收款。。",{icon:1});
            window.location="{:U('Trade/sk_record')}";
        }
    });
</script>


<include file="Public:footer"/>

