<include file="Public:header"/>
<body class="rwzm">
<div>
    <header>
        <div class="gwc_bt">
            <div class="gwcbt_fh"></div>
            <div class="gwcbt_mc">任务大厅</div>
        </div>
        <div style="height: .74rem;clear: both;"></div>
    </header>
    <div class="task_tips">
        <p>任务募集中，稍后再来</p>
        <p>2.0版本可能升级开通</p>
    </div>
<div style="height: .9rem;"></div>
<div class="footer_main">
    <ul>
        <a href="{:U('Index/index')}">
            <li class="footer_sy">首页</li>
        </a>
        <a href="javascript:;">
            <li class="footer_fl">任务<i class="footer_active"></i>
        </li>
        </a>
        <a href="{:U('Promote/index')}">
            <li class="footer_tg"> 推广</li>
        </a>
        <a href="{:U('Member/index')}">
            <li class="footer_hyzx">个人中心</li>
        </a>
    </ul>
</div>
</div>
<include file="Public:footer"/>

